<ul class = "info">
<% @products.each do |product| %>
  <li><%= product.name %></li><br>
    <div id="des-<%= product.id %>"><%= truncate product.description %></div>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    let id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#des-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data == true) {
        $("#des").append( "Available");
      } else {
        $("#des").append( "Sold Out");
      }
    });
  });
});
</script>
